#navbar {
    text-align:left;
}

#navbar li {
    color:black;
    text-align:left;
}

#navbar a {
    text-decoration:none;
    text-align:left;
}

#navbar hover {
    text-decoration:underline;
    color:black;
}

#navbar img {
    width:5em;
    height:5em;
    margin:.5em;
}
/*
Problems with code
1,Navbar wont listen to its css component
2,.right width 100% = father than the footer and header? margin-right does not fix the problem
3,one other site needs to be made (I will work on that later)
*/