/* colors http://paletton.com/#uid=13h0u0kdpuO4tQe8IEMiopMmYkT */
#header {
    z-index:1;
    position:static;
    width:83.9em;
    height:5em;
    margin-bottom:.1em;
    font-family:verdana,Garamond;
}

#email {
    float:left;
    text-align:left;
}
#name{
    float:right;
    text-align:right;
}

#header h2 {
    text-decoration:underline;
    text-align:center;
}

h4 {
    text-indent:1em;
}

p {
    text-indent:1em;
}
p:nth-child(1) {
    float:left;
}

a:nth-child(1) {
    text-decoration:none;
    float:right;
}

p:hover:nth-child(1) {
    color:white;
}

#comercial {
    float:right;
    font-size:.6em;
    text-align:center;
}
.right {
    background-color:#white;
    z-index:2;
    height:50em;
    width:73.35em;
    position:absolute;
    margin-left:10.6em;
    font-family:verdana,Garamond;
}

.left {
    float:left;
    position:absolute;
    z-index:3;
    width:10.5em;
    height:50em;
    background-color:white;
    font-family:verdana,Garamond;
}

#footer {
    z-index:5;
    background-color:white;
    height:5em;
    width:83.9em;
    margin-top:50.25em;
    font-family:verdana,Garamond;
}