/* colors http://paletton.com/#uid=13h0u0kdpuO4tQe8IEMiopMmYkT */
#header {
    background-color:#026C61;
    z-index:1;
    position:static;
    width:60em;
    height:5em;
    margin-bottom:.1em;
}

#name{
    float:right;
    text-align:right;
}

h2:nth-child(1) {
    text-decoration: underline;
}

h2:hover:nth-child(1) {
    color:#85265C;
}

p:nth-child(1) {
    float:left;
}

a:nth-child(1) {
    text-decoration:none;
    float:right;
}

p:hover:nth-child(1) {
    color:white;
}

#comercial {
    font-size:11;
    text-align:center;
}
.right {
    background-color:#87BAB8;
    z-index:2;
    height:50em;
    width:49.4;
    position:absolute;
    margin-left: 10.6em;
    font-family:serif,Garamond;
}

.left {
    float:left;
    position:absolute;
    z-index:3;
    width:10.5em;
    height:50em;
    background-color:#357D7A;
}

#footer {
    z-index:5;
    background-color:#1D6562;
    height:5em;
    width:60em;
    margin-top:50.25em;
}
